<app-header></app-header>
<ion-content>
    <div class="wrapper">
        <div class="info">{{'more.title'|translate}}</div>
        <div class="progress">
            <div class="progress_item submitted "><img src="../assets/auth/info_done.svg"><br><span>{{'info.title_old'|translate}}</span>
            </div>
            <span class="connect submitted"></span>
            <div class="progress_item current"><span>2</span><br><span>{{'more.title_old'|translate}}</span></div>
            <span class="connect inactive"></span>
            <div class="progress_item inactive"><span>3</span><br><span>{{'options.title'|translate}}</span></div>
        </div>
      
        <form class="form" style="margin-top: 0" [formGroup]="credentials">
            <ion-item>
                <ion-label style="font-weight: bold;color: blue!important;" position="stacked"> {{'more.code'|translate}}</ion-label>
                <ion-input #code type="tel" formControlName="token"></ion-input>
            </ion-item>
    
        </form>

    </div>
    <ion-button [disabled]="!credentials.valid" expand="block" type="submit" (click)="next()">
        {{'more.next'|translate}} >>
    </ion-button>
</ion-content>
