<ion-header class="modalHeader">
    {{'m_unregister.header'|translate}}
</ion-header>
<ion-content slots="fixed" [appModalResize]>
    <div class="text">
        <p>  {{'m_sub_exp.p1'|translate}}</p>
        <br>
        <p>{{'m_sub_exp.p2'|translate}} </p>
        <br>
        <p>{{'m_sub_exp.p4'|translate}} </p>

    </div>
    <ion-button class="okButton" expand="block" (click)="token()">{{'m_sub_exp.token'|translate}}</ion-button>
    <ion-button class="okButton" expand="block" (click)="renew()">{{'m_sub_exp.renew'|translate}}</ion-button>

</ion-content>