<app-header></app-header>
<ion-content>
    <div class="wrapper">
        <div class="info">{{'info.title'|translate}}</div>
        <div class="progress">
            <div class="progress_item current"><span>1</span><br><span>{{'info.title_old'|translate}}</span></div>
            <span class="connect inactive"></span>
            <div class="progress_item inactive"><span>2</span><br><span>{{'more.title_old'|translate}}</span></div>
            <span class="connect inactive"></span>
            <div class="progress_item inactive"><span>3</span><br><span>{{'options.title'|translate}}</span></div>
        </div>
        <form class="form" [formGroup]="credentials">
            <ion-item>
                <ion-label position="stacked">{{'info.supplierId'|translate}}</ion-label>
                <ion-input type="tel" formControlName="supplier_id"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">{{'info.email'|translate}}</ion-label>
                <ion-input #email formControlName="email"></ion-input>
            </ion-item>
        </form>
        <div class="block_button">
            <ion-button expand="block" [disabled]="!credentials.valid" (click)="next()">
                {{'info.next'|translate}} >>
            </ion-button>
        </div>
    </div>

</ion-content>