<ion-content>
    <p class="title">collaboration platform</p>
    <div class="image_block"><img class="cart" src="assets/sdk/shopping-cart-1.svg"><img class="cart"
                                                                                             src="assets/sdk/shopping-cart-2.svg"><img
            class="cart"
            src=".assets/sdk/shopping-cart-2.svg">
        <img class="cart"
             src="assets/sdk/shopping-cart-2.svg"></div>
    <p class="description">Please wait a moment<br>
        while we are building your insights!</p>
</ion-content>