<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><span>HPT Ariane</span><span>Collaboration Platform</span></ion-title>

    </ion-toolbar>
</ion-header>
<ion-content>
    <p class="title">
        <span class="customer">Welcome, {{header.firstname}} {{header.lastname}}</span>
        <span class="company">{{header.company}}</span>
    </p>
    <div class="column">
        <div class="widget" *ngFor="let widget of widgets" [ngClass]="widget.end?'':'blur'">
            <div class="header">
                <span><img [src]="widgetsParams[widget.name].icon"></span>
                <span>{{widgetsParams[widget.name].title1}}<br>{{widgetsParams[widget.name].title2}} </span>
                <span></span>
            </div>
            <div *ngIf="!widgetsParams[widget.name].circle" class="value">{{widget.end}} {{widget.unit}}</div>
            <app-chart-semi-circle *ngIf="widgetsParams[widget.name].circle" [growth]="widget.end"
                                   [unit]="widget.unit"></app-chart-semi-circle>
            <app-change-progress [growth]="widget.growth"></app-change-progress>
        </div>
    </div>
</ion-content>
